Package: com.dvntm.ytlite
Name: YTLite
Depends: mobilesubstrate
Description: Lightweight YouTube Enhancer
Maintainer: dvntm
Author: dvntm
Section: Tweaks
Icon: https://raw.githubusercontent.com/dayanch96/YTLite/refs/heads/main/Resources/icon.png
SileoDepiction: https://raw.githubusercontent.com/dayanch96/YTLite/main/Resources/depiction.json
Architecture: iphoneos-arm64e
Version: 5.2b5
Installed-Size: 20524
